<div class="card p-fluid justify-content-center">

 <div class="field">
    <label htmlFor="value">Old Password</label>
    <input pInputText id="value" type="text"  [(ngModel)]="value" />
  </div>
  <div class="field">
    <label htmlFor="value">New Password</label>
    <input pInputText id="value" type="text"  [(ngModel)]="value" />
  </div>
  <div class="field">
    <label htmlFor="value">Confim Password</label>
    <input pInputText id="value" type="text"  [(ngModel)]="value" />
  </div>
 </div>
<div class="flex w-full justify-content-end mt-3">
  <p-button
    type="button"
    label="Done"
    icon="pi pi-check"
    (onClick)="onSubmit($event)"
  ></p-button>
  <span style="margin-left: 10px"></span>
  <p-button
    type="button"
    label="Cancel"
    icon="pi pi-times"
    (onClick)="onCancel($event)"
  ></p-button>
</div>
