.menuBar {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0;
  width: fit-content;
  // border: 2px solid var(--primary-color);
}
.p-menuitem :hover > * {
  color: rgb(0, 0, 0);
}
.menuBar .pi-folder-open {
  color: var(--yellow-600);
  font-weight: 500;
}
.menuBar .pi-table {
  color: var(--green-600);
  font-weight: 500;
}
.menuBar .pi-times {
  color: var(--red-600);
  font-weight: 500;
}
.menuBar .pi-trash {
  color: var(--red-600);
  font-weight: 500;
}
.clearAllBtn {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0;
  width: fit-content;
}
.p-menubar-root-list {
  width: fit-content;
}
.tabmenu {
  overflow-x: scroll;
}

.highlightBtn > * {
  background-color: var(--blue-100) !important;
  font-weight: 500 !important;
}
.lifecycle-visualization {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  border: 1px solid #ccc;
  width: 800px;  /* Ensure the width is fixed or based on a parent container */
  height: 600px; /* Ensure the height is fixed */
}

.node {
  fill: #3498db;
  stroke: #2980b9;
  stroke-width: 3px;
  cursor: pointer;
}

.node:hover {
  fill: #2980b9;
}

.text {
  font-size: 14px;
  fill: #333;
  font-family: Arial, sans-serif;
  pointer-events: none; /* To prevent the text from interfering with mouse events */
}

.link {
  stroke: #2c3e50;
  stroke-width: 2px;
}

.link:hover {
  stroke: #16a085;
}
.lifecycle-visualization {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Full height */
  width: 100%;             /* Full width */
  overflow: hidden;        /* Hides any overflowing content */
}

svg {
  width: 100%;    /* Makes the SVG take the full width of the container */
  height: 100%;   /* Makes the SVG take the full height of the container */
  max-width: 1000px; /* Max width for the SVG */
  max-height: 1000px; /* Max height for the SVG */
}


