@import "../../../assets/styles/variables";

.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
width: 100vw;
  height: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid var(--surface-border);
 position: fixed;
  bottom: 1rem;
  z-index: 999;
}
