<!-- <head>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head> -->
<div class="card">
  <p-tabMenu [model]="tabs" [activeItem]="activeTab" (activeItemChange)="onTabChange($event)" class="tabmenu">
  </p-tabMenu>
  <!-- Rushikesh Modification -->

  <!-- Heading of form  -->

  <div class="container" *ngIf="activeTab?.label == 'Form'">
    <div class="header">
      <h1 class="title">{{[data['keyed_name']]}}</h1>
      <div class="button-group">
        <button 
        id="editBtn" 
        (click)="toggleEditMode()" 
        [ngClass]="isEditMode ? 'button done' : 'button edit'">
        {{ isEditMode ? 'Done' : 'Edit' }}
        </button>
          <button id="discardBtn" (click)="onDiscard()" class="button discard">Discard</button>
          <button id="deleteBtn" (click)="onDelete()" class="button delete">Delete</button>
      </div>
    </div>
      <!-- Property Display Rows -->
      <div class="property-grid">
        <div class="property" *ngFor="let property of properties">
          <span class="property-name">{{ property.name }}:</span>
          <input 
            type="text" 
            class="property-value" 
            [(ngModel)]="property.value" 
            [ngStyle]="{'background-color': isEditMode ? '#ffffff' : '#f0f0f0'}" 
            [readonly]="!isEditMode" 
          />
        </div>
      </div>
  </div>

  <div *ngIf="activeTab?.label == 'History'">
    <!-- <p-menubar [model]="menu1Items" styleClass="menuBar"></p-menubar> -->
  </div>

  <div  *ngIf="activeTab?.label == 'Lifecycle'">
    <!-- <p-menubar [model]="menu1Items" styleClass="menuBar"></p-menubar> -->
    <!-- <h2 class="lifecycle-title">{{data['keyed_name']}}</h2> -->
    <div class="lifecycle-visualization">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -100 1000 1000" preserveAspectRatio="xMidYMid meet" width="800" height="600">
        <!-- Your SVG elements here -->
      </svg>
      
    </div>    
    <div class="lifecycle-container">
    <div class="lifecycle-stage" *ngFor="let stage of lifecycleStages; let i = index">
      <div class="stage-indicator" [ngClass]="stage.class">
        <span *ngIf="stage.completed">&#10003;</span> <!-- Green tick for completed state -->
        <span *ngIf="!stage.completed">{{ i + 1 }}</span> <!-- Stage number -->
      </div>
      <div class="stage-details">
        <h3>{{ stage.title }}</h3>
        <p class="description">{{ stage.description }}</p>
      </div>
      <div *ngIf="i < lifecycleStages.length - 1" class="line"></div> <!-- Line between stages -->
    </div>
  </div>
  </div>
  
  <div *ngIf="activeTab?.label == 'Workflow'">
    
  </div>

</div>

<!-- End -->
