/* You can add global styles to this file, and also import other style files */

// Import PrimeNGIcon
@import "primeicons/primeicons.css";

$gutter: 1rem; //for primeflex grid system

@import "../src/TriNnovatorApp/assets/styles/layout.scss";

//Import for tabularjs
@import url('https://unpkg.com/tabulator-tables@5.5.1/dist/css/tabulator.min.css');


.p-datatable .p-datatable-thead > tr > th {
  //   padding: 0.3rem 0.3rem !important;
  //   border-width: 0px 2px 0px 0px !important;
  border-width: 0px 1px 1px 0px !important;
}
.p-datatable .p-datatable-tbody > tr > td {
  //   padding: 0.5rem 0.5rem !important;
  font-size: smaller !important;
  border-width: 0px 1px 1px 0px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
